@model AutoMarket.Models.Order

@{
    ViewData["Title"] = "Отметить выполненым";
}

<h1>Отметить выполненым</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @if (Model.CompletedView == "Не выполнен")
    {
        <form asp-action="SetCompleted">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Отметить выполненым" class="btn btn-primary" /> |
            <a asp-action="Index">Обратно к списку</a>
        </form>
    }
    else
    {
        <span>Заказ уже выполнен</span>
    }
    <a asp-action="Index">Обратно к списку</a>
</div>
